<div style="font-size: 16px; height: 100%; display: flex; flex-direction: column;">
  <h2 mat-dialog-title>Confirm Transfer</h2>
  <mat-dialog-content style="display:flex; flex: 1; flex-direction: column; justify-content: space-around;">
    <span>Transfering: <b>€{{data.transaction.amountCurrency.amount}}</b></span>

    <span>To: <b>{{data.merchant.name}}</b></span>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-secondary medium-spacing" mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>
</div>
