.header {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 20px;
    font-weight: 600;
    color: blue;
}

.body {
    display: flex;
    flex: 1;
    background: url('/assets/background.jpg');
    width: 100%;
    justify-content: center;
}

