@import 'app/bb-ui/styles/main.scss'; 
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

.medium-spacing {
    margin: $medium-spacing;
}

.large-spacing {
    margin: $large-spacing;
}

.container {
    min-height: 100vh;
    width: 100%;
}

.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.error-message {
    color: darkorange;
}